<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-signin") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-label-group">
        <%#= f.label :email  %>
        <label for="inputEmail">Endereço de Email</label>
        <br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-3", id: "inputEmail", placeholder: "Email address" %>
    </div>

    <div class="field form-label-group">
        <%#= f.label :password %>
        <label for="inputPassword">Senha</label>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br/>
        <%= f.password_field :password, autocomplete: "new-password", id: "inputPassword", class: "form-control mt-3" %>
    </div>

    <div class="field form-label-group mb-5">
        <%#= f.label :password_confirmation %>
        <label for="inputPassword">Confirmação de Senha</label>
        <br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "inputPassword", class: "form-control mt-3" %>
    </div>

    <div class="actions mt-3">
        <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold" %>
    </div>

    <hr class="my-4">
    <%# <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button> %>
    <%# <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> %>
<% end %>
<%#= render "devise/shared/links" %>
