<div class="col-lg-12">
    <% properties.each do |property| %>
        <div class="d-flex flex-row mb-4">
            <div class="card-wrapper mb-2 shadow-sm" style="width: 20vw;">
            <%# if property.photo.attached? %>
                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1592422154529-1d0a03cad207?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
                <%# end %>
                <div class="card-body">
                    <p class="card-text"><strong><%= property.name %></strong></p>
                    <label><%= property.address%></label>
                    <label>CEP <%= property.cep %></label>
                    <strong><p><i class="fa fa-map-marker-alt"></i> <%= property.city %> - <%= property.uf %></p></strong>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                        <i class= "fa fa-ruler-combined"></i> <%= property.total_area %> hectares
                        </button>    
                        <% if current_user && current_page?(controller: 'analises', action: 'index') %>
                            <%#= link_to "Nova Analise de Solo (Hide and Show)", new_analise_path(property: property), class: "btn btn-md btn-outline-secondary favorite-btn" %>
                            <button class="btn-toggle_<%= property.id %>" type="button" data-element="#new_form">Mostrar / Esconder</button>
                        <% end %>
                    </div>
                    </div>
                </div>
            </div>
            <div><%= render partial: "analises/new", locals: { analise: analise, property: [property], amostras: amostras } %></div>  
        </div>
    </div>
<% end %>
