<%= simple_form_for analise, remote: true do |f| %>
  
  <div class="modal-header">
    <strong><h5 class="modal-title"><strong>Cadastrar nova análse de solo:</strong></h5></strong>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-row">
      <%#= puts "Lista de Owners: " + @ownerships %>
      <div class="col-md-12 mb-3">
        <%= f.input :ownership_id, label: 'Nome do Proprietário da Análise', error: 'Nome do Proprietário obrigatório.', collection: @ownerships, include_blank: false %>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <%= f.input :property_id, label: 'Nome da Propriedade da Amostra', error: 'Nome do Proprietário obrigatório.', collection: @properties, include_blank: false %>
      </div>
    </div>
    
    <div class="form-row">
      <div class="d-block col-md-12 p-0"><h6><strong>Argila / Peso da Amostra</strong></h6></div>
      <div class="col-md-8 mb-3">
        <%= f.input :amostra_id, placeholder: '00.0%', label: 'Qntd. de Argila (%)' %>
      </div>
      <div class="col-md-4 mb-3">
        <%= f.input :proprietario, label: 'Peso (gramas) da amostra:' %>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <%= f.submit "Cadastrar Amostra",  class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>

<%#= REMOVER DA VALIDAÇÃO %>
<%#= f.input :materia, placeholder: '00.0%', label: 'Nivel de Materia Orgânica'  %>
<%#= f.input :valor, placeholder: '00.0%', label: 'Valor de Materia Orgânica'  %>
 <%#= f.input :ctc, placeholder: '00.0%', label: 'Valor do CTC'  %>
  