<div class="container ml-5" style="display: none;" id="new_form">
  <%= simple_form_for analise do |f| %>
    
    <div class="">
      <strong><h5 class="modal-title"><strong>Cadastrar nova an치lse de solo:</strong></h5></strong>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="">
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <div class="d-block col-md-12 p-0"><h6><strong>Nome do Propriet치rio da An치lise</strong></h6></div>
          <%= f.input :ownership, label: false, error: 'Nome do Propriet치rio obrigat칩rio.', collection: @ownerships, include_blank: false %>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <div class="d-block col-md-12 p-0"><h6><strong>Propriedade que a Amostra foi coletada</strong></h6></div>
          <%= f.input :property, label: false, error: 'Nome do Propriet치rio obrigat칩rio.', collection: property, include_blank: false %>
        </div>
      </div>
      
      <div class="form-row text-center">
        <h5>Adicione as amostras que fazem parte desta An치lise:</h5>
        <% unless @amostras.present? %>
          <div class="mb-4"><strong><spam>Nenhuma an치lise de solo cadastrada ainda 游뛂</spam></strong></div>
        <% end %>  
        <%= simple_fields_for :amostra do |a| %>
          <%= a.input :amostras, label: false, as: :check_boxes, collection: amostras.select { |amostra| amostra.property.id.eql?(property.first.id) }, input_html: { class: "amostra-item-selector" } %>
        <% end %>
      </div>

      <% if @amostras.present? %>
      <div class="modal-footer">
        <%= f.submit "Cadastrar Analise",  class: 'btn btn-primary' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <% end %>
  <% end %>
</div>
<%#= REMOVER DA VALIDA칂츾O %>
<%#= f.input :materia, placeholder: '00.0%', label: 'Nivel de Materia Org칙nica'  %>
<%#= f.input :valor, placeholder: '00.0%', label: 'Valor de Materia Org칙nica'  %>
<%#= f.input :ctc, placeholder: '00.0%', label: 'Valor do CTC'  %>
  