<div class="modal-header">
  <h5 class="modal-title">Cadastrar nova propriedade:</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <%= simple_form_for @property do |f| %>
    <%= f.input :name, label: 'Nome da Propriedade:', error: 'Nome da Propriedade obrigatório.' %>
    <%= f.input :city, placeholder: 'Cidade em que a propriedade está localizada:'  %>
    <%= f.input :uf, placeholder: 'Estado em que a propriedade está localizada:', collection: ["AC", "AL", "AM", "AP", "BA", "CE", "DF", "ES", "GO", "MA", "MG", "MS", "MT", "PA", "PB", "PE", "PI", "PR", "RJ", "RN", "RO", "RR", "RS", "SC", "SE", "SP", "TO"] %>
    <%= f.input :gleba, placeholder: 'Nº da Gleba da propriedade:' %>
</div>
<div class="modal-footer">
  <%= f.button :submit, class: 'btn btn-primary' %>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <% end %>
</div>