<div class="list-group col-lg-2">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><strong>Endereço</strong></h5>
      <small></small>
    </div>
    <!--<p class="mb-1"><%#= property.address %> ou</p>-->
    <p class="mb-1"><%= property.formatted_address %></p>
    <small>CEP: <%= property.cep %></small>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><strong>Clima e Temperatura</strong></h4>
      <small class="text-muted"></small>
    </div>
    <% if @response.nil? || @response['message'].present? %>
      <p class="mb-1">Informações de meteorologia indisponiveis</p>
    <% else %>
      <p class="mb-1"><%= celsius %>º Graus Celsius</p>
      <small class="text-muted">Hora da consulta: <%= @weather_timezone %></small>
    <% end %>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><strong>Ultimas Modificações</strong></h5>
      <small class="text-muted"><%= @updated_threshold %> ago</small>
    </div>
    <p class="mb-1">Ultima modificação em: <%= @updated_in %></p>
    <small class="text-muted">Criado em: <%= @created_in %></small>
  </a>
</div>