<div class="list-group mb-5">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><strong>Endereço</strong></h5>
      <small class="text-muted"><i class="fas fa-map-marker-alt"></i></small>
    </div>
    <!--<p class="mb-1"><%#= property.address %> ou</p>-->
    <p class="mb-1"><%= property.formatted_address %></p>
    <small>CEP: <%= property.cep %></small>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><strong>Clima e Temperatura</strong></h4>
      <small class="text-muted"><i class="fas fa-cloud"></i></small>
    </div>
    <% if @response.nil? || @response['message'].present? %>
      <p class="mb-1">Informações meteorológicas indisponiveis no momento <i class="fas fa-ban"></i></p>
    <% else %>
      <p class="mb-1"><%= celsius %>º Celsius</p>
      <small class="text-muted">Hora da consulta: <%= @weather_timezone %></small>
    <% end %>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><strong>Ultimas Modificações</strong></h5>
      <small class="text-muted"><i class="fas fa-edit"></i></small>
    </div>
    <p class="mb-1">Ultima edição: <%= @updated_threshold %> ago</p>
    <small class="text-muted">Propriedade criada em: <%= @created_in %></small>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><strong>Amostras de Solo coletadas</strong></h5>
      <small class="text-muted"><i class="fas fa-vial"></i></small>
    </div>
    <% if @amostras_quantity.zero? %>
      <p class="mb-1">Nenhuma amostra cadastrada nesta propriedade</p>
    <% else %>
      <p class="mb-1">Total de amostras: <%= @amostras_quantity %></p>
      <small class="text-muted">Ultima amostra cadastrada em: <%= @amostra_timestamp %></small>
    <% end %>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><strong>Análises Geradas</strong></h5>
      <small class="text-muted"><i class="fab fa-pagelines"></i></i></small>
    </div>
    <% if @analises_quantity.zero? %>
      <p class="mb-1">Nenhuma análise de solo disponivel nesta propriedade</p>
    <% else %>
      <p class="mb-1">Total de amostras: <%= @analises_quantity %></p>
      <small class="text-muted">Ultima análise gerada: <%= @analise_timestamp %></small>
    <% end %>
  </a>
</div>