<%= simple_form_for ownership, remote: true do |f| %>
  <div class="modal-header">
    <strong><h5 class="modal-title">Editar <%= ownership.name  %></h5></strong>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= f.input :name, placeholder: 'Nome completo do proprietário', label: 'Nome do Proprietário:', error: 'Nome da Propriedade obrigatório.' %>
    <%= f.input :cpf, placeholder: 'xxx.xxx.xxx-xx', label: 'CPF do Proprietário:' %>
    <%= f.input :rg, placeholder: 'xx.xxx.xx-xx', label: 'Registro Geral/RG'  %>
    <%= f.input :cnpj, label: 'CNPJ do Proprietário (se houver)' %>
    <%= f.input :telefone, label: "Telefone do Proprietário", placeholder: '(xx) xxxxx.xxxx' %>
    <%= f.input :email, label: 'Email do proprietário (se houver)', placeholder: 'example@email.com'%>
  </div>
  <div class="modal-footer">
    <%= f.submit "Editar Proprietário",  class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>