<%= simple_form_for ownership, remote: true do |f| %>
  <div class="modal-header">
    <strong><h5 class="modal-title">Cadastrar nova proprietário:</h5></strong>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <%= f.input :name, label: 'Nome da Propriedade:', error: 'Nome da Propriedade obrigatório.' %>
      <%= f.input :cpf, label: 'CPF do Proprietário' %>
      <%= f.input :rg, placeholder: 'RG do Proprietário', label: 'Registro Geral/RG'  %>
      <%= f.input :cnpj, label: 'CNPJ do Proprietário (se houver)', collection: ["AC", "AL", "AM", "AP", "BA", "CE", "DF", "ES", "GO", "MA", "MG", "MS", "MT", "PA", "PB", "PE", "PI", "PR", "RJ", "RN", "RO", "RR", "RS", "SC", "SE", "SP", "TO"] %>
      <%= f.input :telefone, label: "Telefone do Proprietário", placeholder: 'Digite o CPF da propriedade' %>
      <%= f.input :email, label: 'Email do proprietário (se houver)', placeholder: '(XX)XXXX-XXXX'%>
  </div>
  <div class="modal-footer">
    <%= f.submit "Cadastrar Proprietário",  class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>