<span> <strong>Total de Amostras Cadastradas: <%= @amostras.count %></strong></span>

<% @amostras.each do |amostra| %>
  <div class="row col-lg-12">
    <div class="text-center">
      <div>
        <hr>
        <div class="d-flex flex-row pl-2 badge-light">
          <div class="d-flex flex-column">
            <span class="element-name">Argila</span>
            <span><%= amostra.argila %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Potássio</span>
            <span><%= amostra.potassio %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Calcário</span>
            <span><%= amostra.calcario %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Magnésio</span>
            <span><%= amostra.magnesio %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Enxofre 0-20</span>
            <span><%= amostra.enxofre20 %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Enxofre 20-40</span>
            <span><%= amostra.enxofre40 %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Hidrogênio</span>
            <span><%= amostra.calcario %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Alcalinidade</span>
            <span><%= amostra.alcalinidade %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Boro</span>
            <span><%= amostra.boro %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">Cobre</span>
            <span><%= amostra.cobre %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name">CTC</span>
            <span><%= amostra.ctc %></span>
          </div>
        </div>
      </div>

      <!-- >
      <span class="badge badge-primary">Primary</span>
      <span class="badge badge-secondary">Secondary</span>
      <span class="badge badge-success">Success</span>
      <span class="badge badge-danger">Danger</span>
      <span class="badge badge-warning">Warning</span>
      <span class="badge badge-info">Info</span>
      <span class="badge badge-light">Light</span>
      <span class="badge badge-dark">Dark</span>
      -->
    </div>
  </div>
<% end %>