<% @amostras.each do |amostra| %>
  <div class="row col-lg-12 ml-0">
    <div style="width: 100vw;">
      <div>
        <div class="d-flex flex-row mr-3 badge-light w-100" style="font-size: 0.79rem;">
          <div class="d-flex flex-column mr-3 ml-4">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Peso (Gramas)</strong></span>
            <span><%= amostra.peso %> g</span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Argila</strong></span>
            <span><%= amostra.argila %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Potássio</strong></span>
            <span><%= amostra.potassio %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Calcário</strong></span>
            <span><%= amostra.calcario %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Magnésio</strong></span>
            <span><%= amostra.magnesio %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Enxofre 0-20</strong></span>
            <span><%= amostra.enxofre20 %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Enxofre 20-40</strong></span>
            <span><%= amostra.enxofre40 %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Hidrogênio</strong></span>
            <span><%= amostra.calcario %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Alcalinidade</strong></span>
            <span><%= amostra.alcalinidade %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Boro</strong></span>
            <span><%= amostra.boro %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Cobre</strong></span>
            <span><%= amostra.cobre %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Manganês</strong></span>
          <span><%= amostra.manganes %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Zinco</strong></span>
            <span><%= amostra.zinco %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Carbono</strong></span>
            <span><%= amostra.carbono %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Matéria Orgânica</strong></span>
            <span><%= amostra.materia %></span>
          </div>
          <div class="d-flex flex-column mr-3">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>Valor %</strong></span>
            <span><%= amostra.valor %></span>
          </div>
          <div class="d-flex flex-column pl-2 badge-light">
            <span class="element-name" style="opacity: 0.7; font-size: 0.7rem;"><strong>CTC</strong></span>
            <span><%= amostra.ctc %></span>
          </div>
          <%= link_to edit_amostra_path(amostra), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "ml-3 align-self-center amostra-edit-btn" } do %>
            <div class="d-flex align-items-center">
              <i class="fas fa-edit"></i><small class="ml-2">Editar</small>
            </div>
          <% end %>
          <%= link_to amostra_path(amostra), method: :delete, data: {confirm:"Tem certeza que deseja deletar esta amostra?"}, class: "ml-3 align-self-center amostra-delete-btn" do %>
            <div class="d-flex align-items-center">
              <i class="fas fa-trash"></i><small class="ml-2">Excluir</small>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>