<%= simple_form_for amostra, remote: true do |f| %>
  <div class="modal-header">
    <strong><h5 class="modal-title">Cadastrar nova amostra de solo:</h5></strong>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <%= f.association :owner_name, label: 'Nome do Proprietário da Amostra', error: 'Nome do Proprietário obrigatório.', collection: ownerships %>
      <%= f.input :peso, label: 'Peso em gramas da amostra coletada:' %>
      <%= f.input :argila, placeholder: 'Quantidade de Argila (%)', label: '00.0%'  %>
      <%= f.input :potassio, placeholder: 'Quantidade de Potassio (%)', label: '00.0%'  %>
      <%= f.input :potassio, placeholder: 'Quantidade de Calcário (%)', label: '00.0%'  %>
      <%= f.input :magnesio, placeholder: 'Quantidade de Magnésio (%)', label: '00.0%'  %>
      <%= f.input :enxofre20, placeholder: 'Nivel de Enxofre 0 - 20 (%)', label: '00.0%'  %>
      <%= f.input :enxofre40, placeholder: 'Nivel de Enxofre 20 - 40 (%)', label: '00.0%'  %>
      <%= f.input :hidrogenio, placeholder: 'Nivel de Hidrogênio (%)', label: '00.0%'  %>
      <%= f.input :alcalinidade, placeholder: 'Nivel de Alcalinidade do Solo (%)', label: '00.0%'  %>
      <%= f.input :boro, placeholder: 'Nivel de Boro (%)', label: '00.0%'  %>
      <%= f.input :cobre, placeholder: 'Nivel de Cobre (%)', label: '00.0%'  %>
      <%= f.input :manganes, placeholder: 'Nivel de Manganês (%)', label: '00.0%'  %>

      
      
      
      
  </div>
  <div class="modal-footer">
    <%= f.submit "Cadastrar Amostra",  class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>