<div class="modal-header">
  <h5 class="modal-title">Adicionar novo formulado:</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <%= simple_form_for @adubo do |f| %>
    <%= f.input :comercial_name, label: 'Nome do Formulado:', error: 'Nome do Formulado obrigatório.' %>
    <%= f.input :n, placeholder: 'Quantidade de Nitrogenio'  %>
    <%= f.input :p, placeholder: 'Quantidade de Fosforo' %>
    <%= f.input :k, placeholder: 'Quantidade de Potassio' %>
    <%= f.input :preco_saca, label: 'Preço p/ KG'%>
    <%= f.input :description, label: 'Breve descrição do formulado' %>
    <%= f.input :category, label: 'Categoria', collection: ["Insumo1", "Insumo2", "Insumo3"] %>
    <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary">Save changes</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>