<!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Crie sua lista de Formulados Comerciais</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Formulados Atuais</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nome Comercial</th>
                      <th>N</th>
                      <th>P</th>
                      <th>K</th>
                      <th>R$/Saca (50kg)</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nome Comercial</th>
                      <th>N</th>
                      <th>P</th>
                      <th>K</th>
                      <th>R$/Saca (50kg)</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% @adubos.each do |adubo| %>
                        <tr>    	
                        <td><%= adubo.comercial_name %></td>
                        <td><%= adubo.n %></td>
                        <td><%= adubo.p %></td>
                        <td><%= adubo.k %></td>
                        <td>R$ <%= adubo.preco_saca %>0</td>
                        </tr>
                    <% end %> 
                  </tbody>
                  <i class="fa fa-plus-circle"></i> <%= link_to '  Criar novo formulado', new_adubo_path %>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>